# Data — never commit raw data
data/processed/
data/interim/
data/intermediate
data/external/

# CSV files (large datasets)

!README.csv

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_metadata

# MLflow
mlruns/

# Models
models/*.pkl
models/*.joblib

# OS
.DS_Store
Thumbs.db

stockfish_preprocessing/stockfish